header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.h-inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 90px;
    box-sizing: border-box;
}
.h-inner h1{
    padding-right: 40px;
}
.h-inner h1 a{
    display: block;
}
nav{
    width: 100%;
}
nav > ul{
    display: flex;
    justify-content: space-evenly;
    max-width: 1240px;
}
nav > ul > li{
    font-family: var(--fn-sans);
    letter-spacing: -1.12px;
    color: #707070;
}
nav > ul > li:last-child{
    padding-right: 0;
}
nav > ul > li > a{
    display: block;
    word-break: keep-all;
}
aside{
    display: none;
}
aside > button{
    cursor: pointer;
}

nav > ul > li > a::before {
    content: '';
    position: relative;
    bottom: -19px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #707070;
    display: block;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
nav > ul > li > a:hover::before {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transform: scale(1, 1)
}

.mb-nav{
    display: none;
    position: fixed;
    z-index: 9999;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #005bac;
}
.mb-nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 71px;
    font-family: var(--fn-sans);
    color: #fff;
    font-size: 20px;
    letter-spacing: -1.4px;
}
.mb-nav-list > li:nth-of-type(-n + 6){ 
    margin-bottom: 41px;
}

@media all and (max-width : 1170px){
    .h-inner{
        padding-left: 20px;
    }
    nav > ul > li > a{
        font-size: 14px;
    }
}
@media all and (max-width : 1024px){
    nav{
        display: none;
    }
    aside{
        display: block;
    }
    header{
        height: 62px;
    }
    .h-inner{
        padding-left: 0;
        justify-content: space-between;
        padding: 0 25px;
    }
    .h-inner h1{
        padding-right: 0;
        width: 120px;
    }
    .h-inner h1 a{
        width: 100%;
    }
    .h-inner h1 a img{
        width: 100%;
    }
}

